/* On attribue des propriétés aux titres h1, centré, bleu, taille 40 px */
body {
    width: 800px;  /* largeur de 800 pixels */
    margin: auto;  /* marges automatiques pour centrer horizontalement */
    background-color: rgb(150, 150, 150);  /* couleur du fond */  
}
h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
    font-family: Lucida Handwriting;
}

h2 {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: white; /* Change la couleur de la police */
    background-color: black; /* Change la couleur du fond */
}
h3 {
    text-align: center; /* Centre le texte */
    font-family: "Comic Sans MS", "Comic Sans", cursive; /* Change la police pour Arial */
}
p {
    margin-left: 20px;
    margin-right: 100px;
    font-family: Times New Roman;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
}
